<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Database"
             connectionString="Data Source=DESKTOP-L09GMD1\SQLEXPRESS09;Initial Catalog=QUANLYHOCSINH;Integrated Security=True;TrustServerCertificate=true"
             providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
